.container-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
      ". . . .";
}

.header {
  background-color: #4E57D4;
  border-radius: 50px;
}

.header__title {
  text-align: center;
  cursor: pointer;
}

