@import "./src/Assets/fonts/fonts.css";

li {
  list-style: none;
  color: white;
}

.header-nav {
}

.header-nav__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas:
      ". . .";
}

.header-nav__menu-items {
  text-align: center;

}

.header-nav__menu-link {
  text-decoration: none;
  color: #fff;

}

.header-nav__menu-link--active {
  color: darkgoldenrod;
  text-decoration: none;
}