@import "Assets/fonts/fonts.css";

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", serif;
}

p {
  color: #fff
}

.app {
  height: 100vh;
  background: rgb(8,3,93);
  background: linear-gradient(90deg, rgba(8,3,93,1) 0%, rgba(67,67,223,1) 54%, rgba(0,212,255,1) 100%);
}